/*################# Desktop and laptops ##############################*/

.content {
    background-color: #1b1938;
    min-width: 52%;
    padding: 0 5%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    flex: 1 1 auto;
}

h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 2.4rem;
    margin-top: 78px;
    max-width: 378px;
}

.text p {
    color: #ffffffbf;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 34px;
    max-width: 350px;
}

.stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;/*items are evenly distributed in the line*/
    max-width: 350px;
    margin-top: 80px;
}

h2 {
    font-weight: 700;
    color: #ffffff;
    font-size: 1.4rem;
}

.stats p {
    font-family: 'Lexend Deca', sans-serif;
    color: #ffffff99;
    margin-top: -10px;
    font-size: 0.8rem;
}













/*############################ Mobile ##############################*/
/*Cellphones*/
@media only screen and (min-width:375px) and (max-width:539px) {
    .content {
        max-height: none;
        min-width: 330px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    h1 {
        margin-top: 46px;
        max-width: 330px;
    }

    .text p {
        margin-top: 24px;
        max-width: 330px;
    }

    .stats {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        max-width: 330px;
        margin-top: 0;
    }
}


/*Small screens*/
@media only screen and (max-width:374px) {
    .content {
        max-height: none;
        min-width: 80vw;
        border-top-left-radius: 0;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    h1 {
        margin-top: 46px;
        max-width: auto;
    }

    .text p {
        margin-top: 24px;
        max-width: auto;
    }

    .stats {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        max-width: auto;
        margin-top: 0;
    }
}







/*IPad, Surface Duo, Tablets...*/
@media only screen and (min-width:540px) and (max-width:768px) {
    .content {
        max-height: none;
        min-width: 500px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    h1 {
        margin-top: 46px;
        max-width: 500px;
    }

    .text p {
        margin-top: 24px;
        max-width: 500px;
    }

    .stats {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        max-width: 500px;
        margin-top: 0;
    }
}