/*Global styles*/
/*################# Desktop and laptops ##############################*/

html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

*,
*::after,
*::before {
    box-sizing: border-box; /*padding and margin don't interfer on box size*/
}

body {
    padding: 0;
    margin: 0;
    background-color: #090b1a;
}

/*How to center using flexbox*/
main {
    width: 100vw;
    height: 100vh;/*100% of the viewport height*/
    display: flex;
    justify-content: center;/*defines the alignment along the main axis*/
    align-items: center; /*justify-content version for the cross-axis*/
}

.card {
    min-width: 1024px;
    min-height: 446px;
    display: flex;
    flex-flow: row nowrap;
}

span {
    color: #aa5cdb;
}










/*############################ Mobile ##############################*/
/*Cellphones*/
@media only screen and (min-width:375px) and (max-width:539px) {
    main {
        height: auto;
        padding: 5% 0;
    }

    .card {
        min-width: 330px;
        min-height: auto;
        flex-flow: column-reverse;
        text-align: center;
    }
}


/*Small screens*/
@media only screen and (max-width:374px){
    main {
        height: auto;
        padding: 5% 2%;
    }

    .card {
        min-width: 300px;
        min-height: auto;
        flex-flow: column-reverse;
        text-align: center;
    }
}




/*IPad, Surface Duo, Tablets...*/
@media only screen and (min-width:540px) and (max-width:768px) {
    main {
        height: auto;
        padding: 10% 0;
    }

    .card {
        min-width: 500px;
        min-height: auto;
        flex-flow: column-reverse;
        text-align: center;
    }
}