html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #090b1a;
}

main {
    width: 100%;
}

.card {
    margin: 180px auto;
    width: 100%;
    max-width: 1110px;
    height: auto;
    max-height: 446px;
    display: flex;
}

span {
    color: #aa5cdb;
}




/*
################# Mobile ##############################
*/
@media only screen and (min-width:375px) and (max-width:540px) {
    .card {
        margin: 88px auto;
        max-width: 330px;
        max-height: none;
        flex-flow: column-reverse;
        text-align: center;
    }
}