/*################# Desktop and laptops ##############################*/
.image {
    width: 100%;
    max-width: 540px;
    min-height: 446px;
    background-image: url(/images/image-header-desktop.jpg);
    background-size: cover;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    flex: 1 1 auto;
}








/*############################ Mobile ##############################*/
/*Cellphones*/
@media only screen and (min-width:375px) and (max-width:539px) {
    .image {
        max-width: 330px;
        min-height: 240px;
        background-image: url(/images/image-header-mobile.jpg);
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 0;
    }
}








/*IPad, Surface Duo, Tablets...*/
@media only screen and (min-width:540px) and (max-width:768px) {
    .image {
        max-width: 500px;
        min-height: 384px;
        background-image: url(/images/image-header-mobile.jpg);
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 0;
        flex: 1 1 auto;
    }
}